.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("images/project images/background.jpeg");
}

.nav__container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 3em;
}

.nav__container ul li a {
  text-decoration: none;
  color: black;
}

.nav__container ul li a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}