* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.about__us {
  background-image: url("../images/project images/students.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 110vh;
}
.about__us .path {
  font-weight: bold;
  font-size: x-large;
  color: white;
  text-align: center;
}
.about__us .path .h1 {
  color: #00bf63;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  gap: 10%;
}
.hero .about-us__stress {
  background-color: lightgrey;
  padding: 40px;
  margin: 20px;
}
.hero .about-us__sucess {
  background-color: lightgrey;
  padding: 40px;
  margin: 20px;
}
.hero .patners {
  background-color: #000;
  margin-top: 2%;
  margin-bottom: 10em;
}

footer {
  background-color: #000;
  height: 15vh;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  font: 1.3em sans-serif;
}
footer .footer_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #00bf63;
}
footer .footer_cont .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
  color: aliceblue;
}

.hero-section {
  background-image: url("../images/pexels-august-de-richelieu-4260314.jpg");
  height: 50vh;
}