@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.register {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/reg.jpeg") no-repeat center center/cover;
  height: 100vh;

  &__container {
    @include flex(center, center, column);
    gap: 2em;
  }
  input {
    border: none;
    padding: 2em 7em;
    border-radius: 2em 2em;
  }
  label {
    @include flex(flex-start, center);
    gap: 2em;
  }
  &--right {
    @include flex(center, center);
  }
}
.nav__container--radio {
  @include flex(center, center, column);
  margin-top: 2em;
  label {
    @include flex(center, center);
    gap: 1em;
  }
}
