@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.nav__container {
  @include flex(space-between, center);

  &_right ul{
    @include flex(space-between,center);
    list-style-type: none;
    color: black;  
  }
}
.nav__container ul{
  @include flex(space-between,center);
  list-style-type: none;
  gap: 2em;
  
}
.nav__container ul li a{
  text-decoration: none;
  color: black;
}
