@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.nav {
  background-image: url("../../../../../images/project images/background.jpeg");
  &__container {
    @include flex(space-between, center);
    ul {
      @include flex(space-between, center);
      list-style-type: none;
      gap: 3em;
      li {
        &:hover {
          a {
            color: #00bf63;
          }
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url("../../../images/edu.jpg") no-repeat center center/cover;
}
.hero__content {
  @include flex(center, center, column);
  color: white;
  h1 {
    font-weight: bold;
  }
}
