@use "utilities/mixins" as *;
@use "utilities/variables" as *;


.form {
  &__container {
    @include flex(center, center, column);
    gap: 3em;
    margin-top: 7em;
  }
  input {
    border: none;
    padding: 2em 7em;
  }
  .bton {
    padding: 2em 7em;
    background-color: black;
    color: white;
    border-radius: 4em;
  }
  .bton:hover {
    color: #00bf63;
  }
}
