@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.nav {
  &__container {
    @include flex(space-between, center);
  }
  &--right {
    ul {
      @include flex(space-between, center);
      list-style-type: none;
      gap: 3em;
      li {
        &:hover {
          a {
            color: #00bf63;
          }
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &__menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    background: aqua;
    // background-color: aqua;
    &--right {
      display: none;
    }
  }
  .nav__menu {
    display: block;
    z-index: 1;
  }
}
.form{
  &__container{
    @include flex(center,center);
  }
}
