@use "../../utilities/mixins" as *;
.Contact {
   @include flex(center, center);
  margin-top: 2%;
  margin-bottom: 5%;
  gap: 1%;
  .forms input {
    padding: 20px 40px;
    width: 350px;
    margin: 20px;
    box-sizing: border-box;
    border:4em;

    border-radius: 4em;

  }
  .blu {
    background-color: black;
    padding: 10px;
    width: 170px;
    margin: 10px;
    display: block;
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    border-radius: 4em;
    cursor: pointer
  }
.cols h1{
color: green;
}
.requiments{
  font-size: larger;
  font-weight:bolder;
}
}
.textarea{
    @include flex(center, center);
}
.heading4{
    color: green
}
.patnership{
    @include flex(center, center);
    margin-top: 2%;
    gap:4%;

}