@use "../../utilities/mixins" as *;
.Contact {
   @include flex(center, center);
  margin-top: 2%;
  margin-bottom: 5%;
  gap: 1%;
  .forms input {
    padding: 20px 40px;
    width: 350px;
    margin: 20px;
    box-sizing: border-box;
    border:none;
  }
}
.textarea{
    @include flex(center, center);
}